body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #fff;
  min-height: 50px;
  position: relative;
  margin-top: auto;
  border: 1px solid black;
}

.container_footer {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.container_footer a {
  text-decoration: none;
  color: #000;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.container_footer a:hover {
  color: #1b0053;
}
