/* Basic styling */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
nav {
  background: #fff;
  padding: 1.5% 5%;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.logo img{
  width: 100%;
  height: auto;
}

.logo {
  width: 70%;
}

.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

.item.secondary a {
  color: #000;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}


.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

.item.active a{
  color: #000;
}


/* Navbar Toggle */
.toggle {
  cursor:pointer;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  z-index: 1;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}


/* Tablet menu */
@media all and (min-width: 950px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }


  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      display: none;
  }
  .button.secondary {
      border: 0;
      z-index: 2;
  }
  .button a {
      padding: 7.5px 15px;
      background: #1B0053;
      border: 1px #1B0053 solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;   
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #1B0053;
      border-color: #160042;
  }
  .button.secondary a:hover {
      color: #ddd;
  } 
}

/* Desktop menu */
@media all and (min-width: 1200px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }

  .logo img{
    width: 30%;
  }

  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 25px;
  }
  .menu li.button {
      padding-right: 0;
  }
}


