{% extends "base.html" %}
{% block title %}Crypto Talks - Podcast{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">{% endblock %}

{% block content %}
<div class="mid">
    <div class="container display">
        <div class="container_cover">
            <img class="cover" src="{{ url_for('static', filename='img/cover.png') }}">
        </div>
        <div class="container_text">
            <div class="title space">
                Crypto Talks Podcast
            </div>
            <div class="description space">
                Crypto Talk ist ein Podcast in dem wir sämtliche Themen rund um Crypto bereden und diskutieren.
                Hierbei reden wir spezifisch und informativ über verschiedende Themen um so unsere Zuhörer
                besser in diesen bereich aufzuklären und belehren. Dabei wird uns hin und wieder ein Gast begleiten.
            </div>
            <div class="container_button">
                <a href="{{ url_for('views.subscribe') }}">
                <button class="button subscribe space">Subscribe to Podcast</button>
                </a>
            </div>
            <div class="container_follow space">
                <div class="follow_text">
                    Follow us:
                </div>
                <div class="logos">
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mid_2">
    <div class="cards_home">
        {% for podcast in podcast_list|reverse %}
        <div class="card">
            <img src="{{ url_for('static', filename='img/cover.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card-metadata">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="icon_date">
                            <path d="M144 480C64.47 480 0 415.5 0 336C0 273.2 40.17 219.8 96.2 200.1C96.07 197.4 96 194.7 96 192C96 103.6 167.6 32 256 32C315.3 32 367 64.25 394.7 112.2C409.9 101.1 428.3 96 448 96C501 96 544 138.1 544 192C544 204.2 541.7 215.8 537.6 226.6C596 238.4 640 290.1 640 352C640 422.7 582.7 480 512 480H144zM223 263C213.7 272.4 213.7 287.6 223 296.1C232.4 306.3 247.6 306.3 256.1 296.1L296 257.9V392C296 405.3 306.7 416 320 416C333.3 416 344 405.3 344 392V257.9L383 296.1C392.4 306.3 407.6 306.3 416.1 296.1C426.3 287.6 426.3 272.4 416.1 263L336.1 183C327.6 173.7 312.4 173.7 303 183L223 263z"/>
                        </svg>
                        {{ podcast.date }}
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon_chapter">
                            <path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/>
                        </svg>
                        {{ podcast.id }}
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon_duration">
                            <path d="M256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C201.7 512 151.2 495 109.7 466.1C95.2 455.1 91.64 436 101.8 421.5C111.9 407 131.8 403.5 146.3 413.6C177.4 435.3 215.2 448 256 448C362 448 448 362 448 256C448 149.1 362 64 256 64C202.1 64 155 85.46 120.2 120.2L151 151C166.1 166.1 155.4 192 134.1 192H24C10.75 192 0 181.3 0 168V57.94C0 36.56 25.85 25.85 40.97 40.97L74.98 74.98C121.3 28.69 185.3 0 255.1 0L256 0zM256 128C269.3 128 280 138.7 280 152V246.1L344.1 311C354.3 320.4 354.3 335.6 344.1 344.1C335.6 354.3 320.4 354.3 311 344.1L239 272.1C234.5 268.5 232 262.4 232 256V152C232 138.7 242.7 128 256 128V128z"/>
                        </svg>
                        {{ podcast.duration }}
                    </div>
                </div>
                <h5 class="card-title">{{ podcast.title }}</h5>
                <p class="card-text">{{ podcast.description|truncate(90, False, '...', 0) }}</p>
                <a href="{{ url_for('views.podcast', episode=podcast.id) }}" class="btn btn-primary" style="background-color: #ff0055; border-color: transparent;">More Info</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
